
li {
  text-decoration: none;
  list-style: none;
}
h1 {
  text-align: center;
}
html {
  height: 100hv; /* Necessaire pour mettre l'image en fullscreen*/
}
.titre {
  color: rgb(184, 127, 192);
  font-size: xx-large;
}
.titre h2 {
  color: white;
  text-align: center;
  font-size: x-large;
}
body {
  padding: 1%;
  margin: 5%;
}
.logo{
  display: flex;
  align-items: center;
  width: 130%;
  height: auto;
  position: absolute;
}
/* Mise en forme du bouton */
.button {
    margin-left: 50px;
    margin-right: 50px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background: none;
  color: #fff;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.4s; /*Augmentation du delai de l'animation, hover entre autre*/
  border: 4px solid rgba(13, 1, 65, 0.61);
  background: rgb(44, 59, 99);
}
/* effet du bouton*/
.button:active {
  transform: translateY(2px); /* effet de pression */
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
}
/*Effet du survol du bouton*/
.button:hover {
  -webkit-transform: scale(1.1, 1.1);
  box-shadow: 0 0 40px rgb(73, 112, 219);
  color:rgb(73, 112, 219) ;
  border: 5px solid rgb(73, 112, 219);
  
 
}


/*Effet du clic sur le hover*/
.button:hover:active {

}

body {
    background-image: url(image/plasma2.jpg);
    background-repeat: no-repeat;/*Evite la mosaique*/
    background-attachment: fixed;
    background-size: cover;

}

/*Animation de la phrase d'accroche*/

body{
    background-color: #2323323;
}
.container{
    margin: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

@media screen and (min-width : 2160px)
{
    /* Mise en forme du bouton */
.button {
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: rgb(1, 1, 36);
    color: #fff;
    width: 280px;
    height: 280px;
    line-height: 200px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    transition: 0.4s; /*Augmentation du delai de l'animation, hover entre autre*/
    box-shadow: 0 0px 15px rgb(73, 112, 219) inset;
    }
/* effet du bouton*/
.button:active {
    transform: translateY(2px); /* effet de pression */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
}
/*Effet du survol du bouton*/
.button:hover {
    -webkit-transform: scale(1.1, 1.1);

}
/*Effet du clic sur le hover*/
.button:hover:active {

}

body {
    background-image: url(image/plasma2.jpg);
    background-repeat: no-repeat;<!--Evite la mosaique-->
    background-attachment: fixed;
    background-size: cover;
}

/*Animation de la phrase d'accroche*/
body{
    background-color: #2323323;
}
.container{
    margin: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
}
.logo-container{
 display: flex;
 align-items: center;
}
.logo{
  align-items: center;
}
