* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  width: 100%;
  background-color: white;
}
/*--------------------------*\
  |          BANNIERE          |
  \---------------------------*/
.Banniere {
  width: 100%;
  height: 100vh;
  background-image: url(image/211076.jpeg);
  background-size: cover;
  z-index: -2;
  box-sizing: border-box;
}
.Banniere > h2 {
  z-index: 0;
  font-size: 50px;
  font-family: "Play", sans-serif;
  color: white;
  position: relative;
  top: 40%;
  padding-left: 25%;
  display: flex;
}
.Banniere > h3 {
  z-index: 0;
  font-size: 30px;
  font-family: "Play", sans-serif;
  color: white;
  position: relative;
  top: 45%;
  padding-left: 25%;
  display: flex;
}

/*--------------------------*\
|         CONTENT            |
\---------------------------*/
.titre-section {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #fb5118;
  padding-top: 50px;
  background-color: rgb(224, 224, 224);
}
.domain {
  background-color: rgb(224, 224, 224);
  padding-bottom: 10px;
}
/*Categorie*/
.categorie {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
}
.article {
  flex-grow: 1;
  min-width: 33%;
  box-sizing: border-box;
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 5px;
}
.article {
  margin: 0 auto;
  perspective: 150rem;
}

.article-inner {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  transition: 1.5s;
}

.article:hover .article-inner {
  transform: rotateY(180deg);
  transition: 1.5s;
}

.article .front,
.article .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.article .back {
  transform: rotateY(180deg);
}

.article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.revert-img {
  width: 100%;
  height: 100%;
}
.revert-img img {
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.back {
  border-radius: 2rem;
}

.descriptif-cat {
  display: flex;
  justify-content: center;
}
.descriptif-cat > div {
  width: 100%;
}
/*Appercu des objet*/
.apercu {
  margin-top: 20px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
}
.trends {
  text-align: center;
  margin: 0px 0 5px 0;
  font-family: "Varela Round", sans-serif;
  padding-top: 40px;
}
.Best {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  padding-bottom: 80px;
  font-size: 30px;
}
.produit {
  border-radius: 2rem;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  height: 400px;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  background: url(image/bgprod1.jpeg);
  box-shadow: 0 0 10px black;
}
.img-produit {
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 18px;
  border-radius: 2rem;
}
.voir-produit {
  background: white;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  outline: none;
  margin: 10px 0;
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background: #fb5118;
  transition: 0.5s;
}
.voir-produit:hover {
  opacity: 0.8;
}
.nom-produit {
  font-size: 25px;
  font-weight: bold;
  font-family: "Jura", sans-serif;
  padding-bottom: 5px;
}
.desc-produit {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 5px;
}
.prix-produit {
  font-style: italic;
  font-family: "Nunito Sans", sans-serif;
}
@media (min-width: 650px) and (max-width: 1000px) {
  .apercu {
    grid-template-columns: 1fr 1fr;
  }
  .grid-produit {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 649px) {
  .apercu {
    grid-template-columns: 1fr;
  }
  .grid-produit {
    grid-template-columns: 1fr;
  }
}
