* {
  padding: 0;
  margin: 0;
}
html {

}
body {
  width: 100%;
  font-family: ;
  background-color: #fff;
}
/*--------------------------*\
  |          BANNIERE          |
  \---------------------------*/
.Banniere {
  width: 100%;
  height: 30em;
  background-image: url(image/abstr.webp);
  background-size: cover;
  z-index: -2;
}
.Banniere h2 {
  position: relative;
  top: 45%;
  left: 45%;
  font-size: 70px;
  font-family: ;
  color: white;
}
/*--------------------------*\
  |          HEADER            |
  \---------------------------*/
ul {
  list-style-type: none;
  display: flex;
}
.navbar > ul > li {
  position: relative;
  padding: 0px 20px;
}
ul > li > a {
    padding: 10rem;
    font-weight: bold;
    margin: 15px;
    padding: 15px;
    padding-right: 80px;
    font-size: 22px;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Jura', sans-serif;
}
ul li a span {
  display: flex;
  position: relative;
  text-align: right;
}
.navbar {
  background: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu {
  display: grid;
  grid-template-columns:  1fr 0.5fr 1fr ;
  align-items: center;
  justify-items: left;
  grid-template-areas: "logo shop home - panier sign";
  transition: 1s;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.185);
  z-index: 100;
  width: 100%;
}
.input-button {
    display: flex;
    width: 50%;
    background-color: #eee;
    border: 0px;
    margin-left: 100px;
    height: 40px;
    border-radius: 0.3rem;
}

    .input-button input {
        width: 30%;
        flex: 1;
        padding: 1rem;
        background-color: transparent;
        border: 0px;
        font-family: 'Play',sans-serif;
    }

    .input-button button {
        background-color: #08aeea;
        color: white;
        padding-top: 4px;
        padding-bottom: 4px;
        padding: 4px;
        border: 0px;
        height: 40px;
        border-radius: 0.3rem;
        font-family: 'Play',sans-serif;
    }
@media (min-width : 1000px) and (max-width: 2439px){
  .menu{
    grid-template-columns:  ;
  }
}
@media (min-width : 2440px){
  .menu{
    grid-template-columns:  ;
  }
}
@media (max-width : 800px){
  .menu{
    grid-template-columns:  ;
  }
}
a:hover{
  color: orange;
  transition: 1s;
}
.logo {
  height: 100%;
  justify-self: center;
  grid-area: logo;
  padding-left: 50px;
}
.navbar > .menu > form {
  display: flex;
  height: 30px;
  background: ;
  min-width: 20%;
  border: 1px solid rgba(255, 255, 255, 0.274);
  border-radius: 5px;
  justify-self: center;
}
.navbar > .menu > form > .search {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
  display: flex;
}
.navbar > .menu > form >.bouton-saisie{
  padding: 0 15px;
  background: orange;
  cursor: pointer;
  font-size: 17px;
  color: white;
  border-radius:3px;

}

/*GRID AREA DECLARATION & ANIMATION*/
#home {
  grid-area: "home";
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  z-index: 1;
  background-color: transparent;
}
#home::before {
  content: '';
  background: white;
  position: absolute;
  left: -102%;
  top: 90%;
  width: 100%;
  z-index: -1;
  border: 1px solid white;
  transition: 0.8s;
}
#home:hover::before{
  left: 0%;
}
#Shop {
  grid-area: "shop";
  position: relative;
}

#signup {
  grid-area: "sign";
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  z-index: 1;
  background-color: transparent;
}
#signup::before {
  content: '';
  background: white;
  position: absolute;
  left: -102%;
  top: 90%;
  width: 100%;
  z-index: -1;
  border: 1px solid white;
  transition: 0.8s;
  border
}
#signup:hover::before{
  left: 0%;
}
#panier {
  grid-area: "panier";
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  z-index: 1;
  background-color: transparent;
}
#panier::before {
  content: '';
  background: white;
  position: absolute;
  left: -102%;
  top: 90%;
  width: 100%;
  z-index: -1;
  border: 1px solid white;
  transition: 0.8s;
}
#panier:hover::before{
  left: 0%;
}


/*--------------------------*\
|          DROPDOWN          |
\---------------------------*/
#dropdown {
  width: 100%;
  display: none;
  transition: 1s;
}
#dropdown li {
  padding: 10px;
  margin: 0;
  text-align: left;
  
}
#dropdown li a {
  margin: 0;
  padding: 0;
}
#Shop:hover #dropdown {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;

}
#dropdown ul li a:hover {
  color: orange;
  transition: 0.5s;
}
#dropdown li:hover {
  margin: 5px;
  padding: 0;
  transition: 0.4s;
}
.ss1 {
  grid-row: 1;
}
.ss2 {
  grid-row: 2;
}
.ss3 {
  grid-row: 3;
}

/*--------------------------*\
|     FLEX/GRID PROD         |
\---------------------------*/
.titre-section {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin: 30px 5px;
    color: rgb(255, 95, 37);
    font-family: 'Varela Round', sans-serif;
}

/*Categorie*/
.categorie {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0; /*Pour éviter au texte de redefinir la taille des flex*/
}

.article {
    flex-grow: 1;
    min-width: 33%;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 5px;
}

.article {
    margin: 0 auto;
    perspective: 150rem;
}

.article-inner {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.article:hover .article-inner {
    transform: rotateY(180deg);
}

.article .front,
.article .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.article .back {
    transform: rotateY(180deg);
}

.article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.back {
    background-color: #ff8144;
    border-radius: 2rem;
}

.descriptif-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

    .descriptif-cat > div {
        color: white;
        font-size: 45px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

        .descriptif-cat > div > a {
            text-decoration: none;
            color: black;
            transition: 1s;
            font-family: 'Jura', sans-serif;
        }

            .descriptif-cat > div > a:hover {
                color: white;
            }

/*Appercu des objet*/
.apercu{
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 15px;
}
.grid-produit{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.filters h2 {
    font-family: 'Nunito Sans', sans-serif;
}
.filters{
  background: rgba(252, 149, 65, 0.61);
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;

}
.filtre-content {
    margin-bottom: 50px;
    font-family: 'Nunito Sans', sans-serif;
}
.filtre{
  display: block;
  margin-right: 20px;
}
.filtre-content > strong{
  margin: 10px 0px;
  display: block;
}

.titre-apercu {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    font-family: 'Comfortaa', cursive;
    font-size:40px;
}
.produit {
    border-radius: 1.2rem;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    height: 370px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #ff8144;
}
.img-produit {
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 1.2rem;
}
.btn-prod {
    border: 0px;
    background: white;
    font-family: Montserrat;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    font-size: 12px;
    margin: 20px 0;
}
.nom-produit {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
}
.prix-produit {
    font-style: italic;
    font-family: 'Jura', sans-serif;
}
.deroulant {
  /*Hamburger*/
  display: none;
  flex-direction: column;
  color: rgb(245, 149, 94);
  background: black;
  width: 100%;
  box-sizing: border-box; /*Pour qu'il soit dans sa box*/
  cursor: pointer; /*Pour pointer dessus*/
  text-align: right;
  padding: 15px 24px;
  font-size: 26px;
}
.button-more a {
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 26px;
  position: relative;
}
.button-more a:hover {
  color: orange;
}
.more{
  overflow: hidden;
}
/*--------------------------*\
|          SCRIPT            |
\---------------------------*/
nav.scroll .menu {
  /*Class du script*/
  background: black;
  border-bottom: none;
}
nav.scroll #dropdown li {
  /*Class du script*/
  background: black;
  border-bottom: none;
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: left;

}
/*--------------------------*\
|          FOOTER            |
\---------------------------*/
footer {
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer-container {
  background-color: grey;
  max-height: 250px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  bottom: -600px;
}
.reseaux {
  justify-self: center;
}
.reseaux ul {
  list-style-type: none;
  text-align: center;
  display: grid;
}
.instagram{
  margin: 0;
  padding: 0;
}
.facebook{
  margin: 0;
  padding: 0;
}
.twitter{
  margin: 0;
  padding: 0;
}
.left-content {
  align-self: center;
  justify-self: center;
}
.left-content ul {
  list-style-type: none;
  display: grid;
}
.left-content ul li a {
  color: white;
  text-decoration: none;
  font-style: ;
  margin: 0;
  padding: 0;
}

.middle-content {
  align-self: center;
  justify-self: center;
}
.middle-content ul {
  list-style-type: none;
  display: grid;
}
.middle-content ul li a {
  color: white;
  text-decoration: none;
  font-style: ;
  margin: 0;
  padding: 0;
}
.container-cr {
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  bottom: -600px;
  min-height: 100%;
}
/*--------------------------*\
|          MEDIA             |
\---------------------------*/
@media (max-width: 768px) {
  .deroulant {
    display: flex;
  }

  .nav ul {
    max-height: 0px;
    background: #000;
  }
  .menu {
    max-height: 20em;
  }
  nav ul li {
    width: 100%;
    padding: 24px 0;
    display: none;
  }
  .recherche {
    visibility: hidden;
  }
  .deroulant:hover nav ul li {
    visibility: visible;
  }
  .apercu{
    grid-template-columns: 1fr;
  }
  .wrap-filtres{
    display: flex;
    flex-wrap: wrap;
  }
  .filtres-content{
    margin-right: 60px;
  }
}
@media (min-width: 769px) and (max-width : 1000px){

  .apercu{
    grid-template-columns: 200px 1fr;
  }
  .grid-produit{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width : 768px){
  .article{
    min-width: 100%%;
  }
  .apercu{
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-produit{
    grid-template-columns: repeat(1, 1fr);
  }
  
}