<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">&copy; 2019 {{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list" style= "color:#000000">
		

	      <li>Phone: <a href="tel:0949349056" target="_blank">0949349056</a></li>
              <li>Email: <a href="mailto:antonlinh2002@gmail.com" target="_blank">antonlinh2002@gmail.com</a></li>
              <li>Facebook: <a href="https://www.facebook.com/profile.php?id=100016649285438/" target="_blank">Nguyễn Nhật Linh</a></li>
	      <li>Địa chỉ: <a href="https://goo.gl/maps/hnNjxaH8sWPFJ8KCA" target="_blank">Google Map</a></li>
		       
          
          </ul>
        </div>
  
        <div class="footer-col footer-col-3" style= "color:#000000">
          <p>Đây là website chính thức của Anton Linh. Du học sinh ngành công nghệ thông tin tại Paris, Pháp. 
		  </p>
        </div>
      </div>
  
    </div>
  
  </footer>
